<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
    <head>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!--        <link rel="stylesheet" type="text/css" href="/css/common/basic.css" />-->
        <link rel="stylesheet" href="/css/common/main.css" media="all"/>


        <title>MohajiUniv LMS</title>
    </head>

    <!-- footer -->
    <footer id="footer" style="background-color: #333333 ">
        <div class="xn-main-catalog-footer-upper">
            <span></span>

        </div>
        </div>
        <div class="xn-main-catalog-footer-border"></div>
        <div class="xn-main-catalog-footer-info" style="background-color: #333333 ">
            <a href="/main">
                <img
                    class="xn-main-footer-logo-image"
                    alt="모하지대학교 LMS"
                    src="/img/main/navi.png" style=" margin-left: 7%;  width: 10%;
  height: auto;"
            />
            </a>

            <span class="xn-main-footer-copyright">
          <div id="xnm2_footer">
            <div class="xnm2_ft_top">
              <div class="xnm2_wrap">

              </div>
            </div>
            <div class="xnm2_ft_bot">

                <h2></h2>
                <ul class="xnm2_adr">
                  <li>서울시 성북구 정릉동 모하지대학교</li>
                  <li>
                    COPYRIGHT© 2024 MOHAJI UNIVERSITY. ALL RIGHTS RESERVED.
                  </li>
                </ul>


              </div>
            </div>
        </div>
        </span>
        </div>
        </div>
    </footer>