<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <link rel="stylesheet" href="/css/common/common.css" />
  <link rel="stylesheet" href="/css/common/sectionCss.css" />
  <link rel="stylesheet" href="/css/common/basic.css" />
  <link rel="stylesheet" href="/css/common/board.css" />
  <link rel="stylesheet" href="/css/common/layer.css" />
</head>
<body>
<div th:replace="~{layout/header :: header}"></div>

<!-- aside와 main을 포함한 container1을 flexbox로 만들어 둘을 가로로 나란히 배치 -->
<div class="container1">
  <aside>
    <nav th:replace="~{layout/classroomSidebar :: classroomSidebar}"></nav>
  </aside>

  <main>
    <!-- 세컨드 타이틀 필요없을시 삭제 -->
    <div class="miniNavi">
      <h1>과제방</h1>
    </div>
    <!-- 학습문의 전화 e. -->

    <!-- left menu e. -->
    <div class="sub_contents">
      <div class="post_tit">과제방</div>

      <div class="study_01">
        <h1 th:text="${subName}"></h1>
      </div>

      <div class="exam_txt1">
        * 과제명을 클릭하시면 과제 내용 및 제출기간, 주의사항 등을 확인 하실 수 있습니다.<br/>
        * 제출 기간 마감 후 제출 하실 수 없으며, 파일명은 과목명(이름) 으로 저장 후 제출하시기 바랍니다.<br/>
        * 타인의 과제를 도용할 경우 <b>0</b>점 처리 되오니 유념하여 주시기 바랍니다.<br/>
        <dl style="color:red">
          * 과제는 문제은행 방식으로 랜덤 부여됩니다. 페이지를 여러 개 띄워놓을 경우, 과제 문항이 변경될 수 있사오니 주의하시길 바랍니다.
        </dl>
      </div>
      <br><br>
      <div id="grid"></div>

    </div>
  </main>

<div th:replace="~{layout/footer :: footer}"></div>
</div>
<script th:inline="javascript">
  document.addEventListener("DOMContentLoaded", function () {
    var asgnList = /*[[${asgnList}]]*/ '[]';
    tui.Grid.applyTheme("stripe"); // 테마 적용
    var grid = new tui.Grid({
      el: document.getElementById("grid"),
      scrollX: false,
      scrollY: false,
      columns: [
        {
          header: "과제명",
          name: "asgnTitle",
          align: 'center',
          sortable: true,
          formatter: function (item) {
            const asgnTitle = item.row.asgnTitle;
            const asgnSdate = new Date(item.row.asgnSdate);
            const asgnId = item.row.asgnId;
            const currentDate = new Date();

            // 제출 시작일이 현재 시각 이후인지 확인
            if (currentDate <= asgnSdate) {
              return asgnTitle;
            } else {
              const url = `/classroom/assignmentDetail?&asgnId=${asgnId}&asgnTitle=${asgnTitle}`;
              return `<a href=${url}>${asgnTitle}</a>`;
            }
          },
        },
        {
          header: "제출시작일",
          name: "asgnSdate", // 수정: 시작 날짜와 끝 날짜를 개별적으로 표시합니다.
          align: 'center',
          sortable: true,
        },
        {
          header: "제출마감일", // 종료 날짜를 별도로 추가
          name: "asgnDdate",
          align: 'center',
          sortable: true,
        },
        {
          header: "제출일",
          name: "raSdate",
          align: 'center'
        },
        {
          header: "점수",
          name: "raScore",
          align: 'center'
        },
        {
          header: "상태",
          name: "status",
          align: 'center'
        },
        {
          header: "memberId",
          name: "memberId",
          align: 'center',
          hidden: true
        },
        {
          header: "subId",
          name: "subId",
          align: 'center',
          hidden: true
        },
        {
          header: "asgnId",
          name: "asgnId",
          align: 'center',
          hidden: true
        },
      ],
    });
    grid.resetData(asgnList); // 서버에서 전달된 데이터로 그리드 초기화
    document.querySelector('.tui-grid-lside-area').style.display = 'none';
  });
</script>
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


</body>
</html>
