/* common.css 는 container1에 대한 css내용을 포함  */
@charset "utf-8";

.container1 {
  display: flex; /* 컨테이너를 flexbox로 만들어 내부 요소를 가로로 나란히 배치함 */
  padding-bottom: 100px;
  margin-top: 100px; /* header와 겹치지 않기 위해 상단 마진 추가 */
}

aside {
  width: 250px; /* aside의 너비 조절 */
}
main {
  flex: 1; /* aside가 차지하고 남은 공간을 모두 차지*/
  padding-left: 80px;
  padding-right: 60px;
  padding-top: 20px;
  z-index: 5;

}
